.post-wrapper .card {
    /* border: 2px solid rgb(74, 74, 74); */
    width: 40vw;
    max-width: 1001px;
    border-radius: 8px;
}

.post-wrapper .icon-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 9px;
    padding-top: 16px;
}

.post-wrapper .border {
    width: 100%;
    margin-top: -4px;
}

.post-wrapper .icon-row .icon {
    font-size: 1.8em;
    margin: 0 0px;
    margin-right: 10px;
    cursor: pointer;
}

.post-wrapper img {
    object-fit: cover;
    width: 100%;
}

.post-wrapper .caption {
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    text-align: left;
    padding-left: 10px;
    margin-bottom: 4px;
    margin-top: 5px;
    padding-right: 10px;
}

.post-wrapper .caption span:first-child {
    font-weight: 800;
    font-size: 1em;
    margin-right: 7px;
}

.post-wrapper .caption span:last-child {
    line-height: 18px;
}

.post-wrapper .nested-list-subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    padding-bottom: 8px;
}

.post-wrapper .profile-picture {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.post-wrapper .user-wrapper {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
}

.post-wrapper .likes {
    font-weight: 300;
    font-size: 0.8em;
}

.post-wrapper .time-since {
    display: flex;
    align-items: center;
}

.post-wrapper .time-since div:first-child {
    margin-right: 10px;
}

.post-wrapper .time-since-mobile {
    display: none;
}

@media screen and (max-width: 1200px) {
    .post-wrapper .card {
        width: 70vw;
    }
}

@media screen and (max-width: 900px) {
    .post-wrapper .caption {
        font-size: .85em;
        margin-bottom: 4px;
        /* flex-direction: column; */
    }
    .post-wrapper .caption div:first-child {
        margin-bottom: 5px;
    }
    .post-wrapper .icon {
        width: 25px;
    }

    .post-wrapper .icon-row {
        padding: 9px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 700px) {
    .post-wrapper .card {
        width: 85vw;
    }

    .post-wrapper .time-since div:first-child {
        display: none;
    }

    .post-wrapper .time-since-mobile {
        display: block;
        height: fit-content;
        text-align: left;
        margin-left: 9px;
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 0.85em;
    }
}